@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border font-sans;
  }
}

@layer components {
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.box-shadow {
  box-shadow: 2px 2px #28384b;
}

@media (max-width: 768px) {
  html {
    max-width: 100vw !important;
    overflow-x: hidden !important;
  }
}
